page-quiz {
  .header {
    height: 30px;
    padding-left: 5px;
    padding-top: 2px;
    text-align: center;
  }

  .top {
    border: 1px solid #000000;
    padding: 0px;
  }

  .bottom {
    border: 1px solid #AAAAAA;
    padding: 0px;
  }

}
